@use "global.scss";

body {
    width: 100%;
    text-align: center;
}

h1 {
    color: hsl(200, 50%, 50%);
}

p {
    max-width: 920px;
    margin: 20px auto;
    font-family: sans-serif;
}

img {
    max-width: 150px;
    margin-inline: auto;
}